snippet sblu
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-

snippet sbl1
	#!/usr/bin/env python
	# -*- coding: Latin-1 -*-

# Module Docstring
snippet docs Prakti module docstring
	'''
	    ${1:`Filename('', 'module')`}
	    ${2:~~~~~~}

	    ${3:description}

	    :copyright: Copyright ${4: year} by ${5: author}
	    :license: ${5:license}, see LICENSE for details
	'''
